{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Mot de passe oublié
{% endblock %}

{% block headline %}
    Mot de passe oublié
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Mot de passe oublié</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {% if not user.is_authenticated %}
            {% if error %}
                {{ error }}
            {% endif %}
            <p>
                Si vous avez perdu votre mot de passe, vous pouvez utiliser ce formulaire pour le ré-initialiser. Saisissez votre identifiant ou votre adresse email dans le champ ci-dessous.
            </p>
            <p>
                Une fois le formulaire envoyé, pour des raisons de sécurité, vous recevrez email demandant la validation de votre requête. Il vous suffira de cliquer sur le lien de confirmation présent dans le mail.
            </p>
            {% crispy form %}
        {% else %}
            <p>Vous êtes connecté</p>
        {% endif %}
    </div>
</div>

{% endblock %}
