{% extends "account/base.html" %}

{% block title %}
    Nouveau mot de passe raté
{% endblock %}

{% block headline %}
    Nouveau mot de passe raté
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Nouveau mot de passe</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Votre mot de passe n'a pas pu être modifié. Vous avez peut-être dépassé le déali de confirmation de votre réinitialisation d'une heure. Veuillez refaire la procédure.
        </p>
        <p>
        	<a href="{% url "Simplan.account.views.forgot_password" %}">Re-soumettre votre demande de réinitialisation</a>.
        </p>
    </div>
</div>

{% endblock %}
