{% extends "account/base.html" %}

{% block title %}
    Inscription réussie
{% endblock %}

{% block headline %}
    Inscription réussie
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Inscription</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
    	<h2>L'e-mail de confirmation a été expédié !</h2>
        <p>
        	Dans l'e-mail vous trouverez un lien qui, lorsque vous cliquez dessus, il vous ramène sur le site et vous pouvez commencer à utiliser totalement Simplan.
        </p>
        <p>
        	Si contre toute attente vous ne recevez pas l'email d'activation, <a href="mailto:meuhia@simplann.com">contactez-nous</a> et nous ferons de notre mieux pour vous remettre sur la bonne voie.
        </p>
        <p>
        	<small>Nous vous invitons à contrôler votre dossier d'indésirables avant de nous contacter, en effet le plupart des envois prétendus manquants y sont déposés en raison des filtres automatiques.</small>
        </p>
    </div>
</div>

{% endblock %}
