{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load event %}
{% load i18n %}

{% block header %}
<h1>{% trans "Options" %}</h1>
<p>{% trans "Ajouter des options à vos prévisions de planning" %}</p>
{% endblock %}

{% block breadcrumb %}
    <a href="{% url "Simplan.event.views.edit_event" event.slug %}">{% trans "Evènement" %}</a>
    <a href="#" class="current">{% trans "Choix" %}</a>
    <a class="unavailable" href="#">{% trans "Récapitulatif" %}</a>
{% endblock %}



{% block content %}
<div class="row">
<dl class="sub-nav">
  <dd class="{% if type == 'time' %}active{% endif %}"><a href="{% url "Simplan.event.views.new_option" event.slug %}?type=time">{% trans "Options temps" %}</a></dd>
  <dd class="{% if type == 'free' %}active{% endif %}" ><a href="{% url "Simplan.event.views.new_option" event.slug %}?type=free">{% trans "Option libre" %}</a></dd>
</dl>
</div>
<div class="row content">
	<div class="large-8 large-centered columns">
	    {% crispy form %}
		
		<table><thead>
			<tr>
				<th></th>
				<th width="100%">{% if event.get_count_options > 1 %}Options{% elif event.get_count_options > 0%}Option{% else %}{% trans "Aucune option" %}{% endif %}</th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{% for opt in event.get_options %}
				{% with option=opt|cast_option %}
					{% if option.start_date %}
					<tr>
						<td>
							{% if option.position > 1 %}
							<a href="{% url "Simplan.event.views.up_option" option.id %}" class="tiny radius"><i class="fa fa-arrow-up fa-lg"></i></a>
							{% endif %}
							{% if option.position < event.get_max_position %}
							<a href="{% url "Simplan.event.views.down_option" option.id %}" class="tiny radius"><i class="fa fa-arrow-down fa-lg"></i></a>
							{% endif %}
						</td>
						<td><a href="{% url "Simplan.event.views.edit_option" option.id %}?type=time">{{ option.start_date|date:"d M - H:i → l"}}</a></td>
						<td></td>
						<td><a href="{% url "Simplan.event.views.del_option" option.id %}"><i class="fa fa-times fa-2x"></i></a></td>
					</tr>
					{% endif %}
					{% if option.text %}
					<tr>
						<td>
							{% if option.position > 1 %}
							<a href="{% url "Simplan.event.views.up_option" option.id %}" class="tiny radius"><i class="fa fa-arrow-up fa-lg"></i></a>
							{% endif %}
							{% if option.position < event.get_max_position %}
							<a href="{% url "Simplan.event.views.down_option" option.id %}" class="tiny radius"><i class="fa fa-arrow-down fa-lg"></i></a>
							{% endif %}
						</td>
						<td><a href="{% url "Simplan.event.views.edit_option" option.id %}?type=free">{{ option.text }}</a></td>
						<td>{% if option.image %}<img src="{{option.image.url}}" style="max-width:100px;max-height:100px;"/>{%endif%}</td>
						<td><a href="{% url "Simplan.event.views.del_option" option.id %}"><i class="fa fa-times fa-2x"></i></a></td>
					</tr>
					{% endif %}
				{% endwith %}
			{% endfor %}
			<tbody>
		</table>
		<div class="large-8 large-centered columns">
		<ul class="button-group round large-centered">
		  <li><a href="{% url "Simplan.event.views.edit_event" event.slug %}" class="button secondary">{% trans "Précédent" %}</a></li>
		  <li><a href="{% url "Simplan.event.views.recap_event" event.slug %}" class="button">{% trans "Suivant" %}</a></li>
		</ul>
		</div>
	</div>
	
</div>
{% endblock %}